prj_LineBusPOA/Connected Services/ServiceBusPOA/ServiceBusPOAService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://service/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="ServiceBusPOAService" targetNamespace="http://service/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/WebServiceLineBusPOA/ServiceBusPOAService?xsd=1" namespace="http://service/" />
    </xsd:schema>
  </types>
  <message name="searchUserNamePass">
    <part name="parameters" element="tns:searchUserNamePass" />
  </message>
  <message name="searchUserNamePassResponse">
    <part name="parameters" element="tns:searchUserNamePassResponse" />
  </message>
  <message name="registerUser">
    <part name="parameters" element="tns:registerUser" />
  </message>
  <message name="registerUserResponse">
    <part name="parameters" element="tns:registerUserResponse" />
  </message>
  <message name="searchUser">
    <part name="parameters" element="tns:searchUser" />
  </message>
  <message name="searchUserResponse">
    <part name="parameters" element="tns:searchUserResponse" />
  </message>
  <message name="searchAll">
    <part name="parameters" element="tns:searchAll" />
  </message>
  <message name="searchAllResponse">
    <part name="parameters" element="tns:searchAllResponse" />
  </message>
  <portType name="ServiceBusPOA">
    <operation name="searchUserNamePass">
      <input wsam:Action="http://service/ServiceBusPOA/searchUserNamePassRequest" message="tns:searchUserNamePass" />
      <output wsam:Action="http://service/ServiceBusPOA/searchUserNamePassResponse" message="tns:searchUserNamePassResponse" />
    </operation>
    <operation name="registerUser">
      <input wsam:Action="http://service/ServiceBusPOA/registerUserRequest" message="tns:registerUser" />
      <output wsam:Action="http://service/ServiceBusPOA/registerUserResponse" message="tns:registerUserResponse" />
    </operation>
    <operation name="searchUser">
      <input wsam:Action="http://service/ServiceBusPOA/searchUserRequest" message="tns:searchUser" />
      <output wsam:Action="http://service/ServiceBusPOA/searchUserResponse" message="tns:searchUserResponse" />
    </operation>
    <operation name="searchAll">
      <input wsam:Action="http://service/ServiceBusPOA/searchAllRequest" message="tns:searchAll" />
      <output wsam:Action="http://service/ServiceBusPOA/searchAllResponse" message="tns:searchAllResponse" />
    </operation>
  </portType>
  <binding name="ServiceBusPOAPortBinding" type="tns:ServiceBusPOA">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="searchUserNamePass">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="registerUser">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="searchUser">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="searchAll">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ServiceBusPOAService">
    <port name="ServiceBusPOAPort" binding="tns:ServiceBusPOAPortBinding">
      <soap:address location="http://localhost:8080/WebServiceLineBusPOA/ServiceBusPOAService" />
    </port>
  </service>
</definitions>