prj_LineBusPOA/Connected Services/ServiceBusPOA/ServiceBusPOAService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://service/" targetNamespace="http://service/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="registerUser" type="tns:registerUser" />
  <xs:element name="registerUserResponse" type="tns:registerUserResponse" />
  <xs:element name="searchAll" type="tns:searchAll" />
  <xs:element name="searchAllResponse" type="tns:searchAllResponse" />
  <xs:element name="searchUser" type="tns:searchUser" />
  <xs:element name="searchUserNamePass" type="tns:searchUserNamePass" />
  <xs:element name="searchUserNamePassResponse" type="tns:searchUserNamePassResponse" />
  <xs:element name="searchUserResponse" type="tns:searchUserResponse" />
  <xs:complexType name="registerUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:user" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="user">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nome" type="xs:string" />
      <xs:element minOccurs="0" name="senha" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registerUserResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="searchUser">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="searchUserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="searchAll">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="searchAllResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:busPOA" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="busPOA">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:string" />
      <xs:element minOccurs="0" name="nome" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="searchUserNamePass">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="searchUserNamePassResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>